/* grid */

.center, .anchor, .experiment {
    grid-column: 2 / 3;
}

#css-selector {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 200px;
    position: sticky;
    top: 50px;
}


#css-selector p {
    text-align: left;
}

#css-selector p:hover {
    background: var(--text-color);
    color: #000;
    animation: blinkTextCursor 0.3s ease-out 1;
    background: var(--text-color);
    filter: blur(0.5px);
}


button {
    padding:0;
    margin:0;
}

/* css selector div */
#css-selector {
    position: fixed;
    display: flex;
    flex-direction: column;
}

#css-selector p {
    padding: 5px;
    color: rgb(255, 166, 0);
    background: rgb(25, 25, 30);
    border: 1px solid rgb(255, 166, 0);
    cursor: pointer;
}

#smallScreen {
    display: none;
}